.container
  .season
  .sun
  .rainbow
    - for (var i = 1; i <= 7; i++)
      .rainbow-colour
  .cloud-group
    - for (var i = 1; i <= 8; i++)
      .cloud
        .weather-container
          - for (var j = 1; j <= 20; j++)
            .snow
          - for (var k = 1; k <= 30; k++)
            .rain
  .base
    .bush-group
      - for (var i = 1; i <= 9; i++)
        .bush
    .rabbit.animated
      .head
        .ear
        .ear
    .tree-group
      .tree
        .trunk
        .tree-top
      .tree
        .trunk
        .tree-top
      .tree
        .trunk
        .tree-top
      .tree
        .trunk
        - for (var i = 1; i <= 12; i++)
          .branch
      .tree
        .trunk
        .tree-top
        .tree-top
        .branch-two
          .tree-top
        .branch-two
          .tree-top
        .branch-two
          .tree-top
      .tree
        .trunk
        .tree-top
      .tree
        .trunk
        .tree-top
      .tree
        .trunk
        .tree-top
          - for (var i = 1; i <= 20; i++)
            .cone
        .tree-top
        .tree-top
        .flower
          .flower-in
          .petal
          .petal
          .petal
        .flower
          .flower-in
          .petal
          .petal
          .petal
      .tree
        .trunk
        .tree-top 
      .tree
        .trunk
        - for (var i = 1; i <= 10; i++)
          .branch
            .branch-in
            .pine-cone-row
              - for (var j = 1; j <= 7; j++)
                .pine-cone
      .tree
        .trunk
        .tree-top
        .tree-top
        .tree-top
      .tree
        .trunk  
        .tree-top
          - for (var i = 1; i <= 20; i++)
            .cone 
        .tree-top
        .tree-top
        .flower
          .flower-in
          .petal
          .petal
          .petal
        .flower
          .flower-in
          .petal
          .petal
          .petal
      .tree
        .trunk
        .tree-top 
        .tree-top
        .tree-top
        .branch-two
          .tree-top
        .branch-two
          .tree-top
      .tree
        .trunk
        .tree-top
          - for (var i = 1; i <= 20; i++)
            .cone 
        .tree-top
          - for (var i = 1; i <= 20; i++)
            .cone 
        .tree-top
          - for (var i = 1; i <= 20; i++)
            .cone 
      .tree
        .trunk
        .tree-top
          - for (var i = 1; i <= 20; i++)
            .cone       
        .tree-top
          - for (var i = 1; i <= 20; i++)
            .cone        
        .tree-top
          - for (var i = 1; i <= 40; i++)
            .cone

